<div class="wrapper">
    <h1>Cryptocurrency Converter</h1>
   
    <form>
        <select name="currencyFrom" id="currencyFrom">
            <option value="">-- Select a currency --</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USDT">USDT</option>
            <option value="BNB">BNB</option>
        </select>
        <input type="number" name="amountFrom" id="amountFrom">
        <select name="currencyTo" id="currencyTo">
            <option value="">-- Select a currency --</option>
            <option value="NGN">NGN</option>
        </select>
    </form>

    <p id="result">Select some currencies and an amount to convert</p>
</div>
